<!-- As a link -->
<nav class="navbar navbar-dark bg-dark navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand text-info" href="/">Hello Rails</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse nav navbar-collapse" id="collapsibleNavbar">
      <a class="nav-link active" aria-current="page" href="/">Home</a>
      <a class="nav-link" href="/about">About</a>
    </div>
  </div>
</nav>